In [38]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib notebook

In [39]:
dataset=pd.read_csv('train.csv')

In [40]:
dataset.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [41]:
dataset.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [42]:
def replaceUnknown(dataset,column,value):
    dataset[column].fillna(value,inplace=True)
    return dataset[column].unique()

In [43]:
replaceUnknown(dataset,'Gender','Unknown')

replaceUnknown(dataset,'Married','Unknown')

dataset["Dependents"].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [44]:
replace={'3+':'3'}
dataset['Dependents'].replace(replace,inplace=True)
dataset['Dependents'].fillna('Unknown',inplace=True)

In [45]:
dataset['Self_Employed'].unique()
dataset['Self_Employed'].fillna('Unknown',inplace=True)

In [46]:
dataset['LoanAmount'].fillna(dataset['LoanAmount'].mean(),inplace=True)

In [47]:
dataset['Loan_Amount_Term'].fillna(dataset['LoanAmount'].mean(),inplace=True)

In [50]:
dataset['Credit_History'].fillna('Unknown',inplace=True)
dataset.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [49]:
#############################  data preprocessing finished #########################